<div class="content-wrapper">
    <h1>Data Summary</h1>
    <ul>
        <li>
            <h3>Average age: </h3>
            <h1 class="font-large">{{averageAge}}</h1>
        </li>
        <li>
            <h3>Users over 25: </h3>
            <h1 class="font-large">{{usersOverTwentyFive}}</h1>
        </li>
        <li>
            <h3>Active computers: </h3>
            <h1 class="font-large">{{activeComputers}}</h1>
        </li>
        <li>
            <h3>Inactive computers: </h3>
            <h1 class="font-large">{{inactiveComputers}}</h1>
        </li>
    </ul>
</div>