.computer-active-state {
    padding: 6px 12px;
    border-radius: 6px;
    &.false {
        background-color: rgba(255,0,0,0.15);
        color: rgba(255,0,0,0.6);
    }
    &.true {
        background-color: rgba(0,255,0,0.15);
        color: rgb(59, 164, 59);
    }
}