/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #EDF6FF;
}
.content-wrapper {
    background-color: #FFF;
    border-radius: 16px;
    padding: 20px;
}
table {
    width: 100%;
}